body {
    width: 1600px;
    height: auto;   
    
}
.head-container {
    width: auto;
    height: 350px;
    opacity: .5%;
    background: linear-gradient(rgb(244,103,49, .74),rgb(43,205,192, .74),rgb(50,168,218, .74));
    background-size: 100%;
    background-position: center;
}
.head-container > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    opacity: .77px;
}
.head-container .sidebar-icons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    position: unset;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-top: -180;
}
section {
    width: auto;
    height: auto;
}  